#nav-bar{
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  padding: 0 2em;
  height: 80px;
  background-color: #00a087;
}
#nav-bar .logo {
  width: 80px;
  height: 80px;
  margin: 0 10px 0 0;
  float: left;
}
#nav-bar .header{
  color: #e8fdff;
  float: left;
  line-height: 80px;
  font-size: 2em;
  vertical-align: middle;
}
#nav-bar .buttonOff{
  background-color: #e7fdff;
  color: #00a085;
  font-size: 1.2em;
  border-radius: 7px;
  border: 1px solid black;
  float: right;
  padding: 15px;
  vertical-align: middle;
  margin: 10px 0 0 0;
}
#nav-bar .buttonOn{
  background-color: white;
  color: black;
  font-size: 1.2em;
  border-radius: 7px;
  border: 1px solid black;
  float: right;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}

